@import "tailwindcss";

@theme {
    /* Custom Colors */
    --color-dark-blue: #0a1f3d;
    --color-warm-yellow: #f8c460;
    --color-soft-black: #1a1a1a;
    --color-pale-white: #fdfdfd;
    --color-warm-white: #FAFAFA;

    /* Font Family */
    --font-inter: 'Inter', sans-serif;

    /* Border Radius */
    --radius-xl: 1rem;

    /* Box Shadow */
    --shadow-custom: 0 8px 24px rgba(0, 0, 0, 0.15);
}